body {
    background-color: rgb(191, 255, 234);
}
.div {
    border : 1px solid black;
    font-size: 16px;;
}
.book-info {
    margin-top: 50px;
    background-color: white;
    padding: 10px;
    height: max-content;
    width:max-content;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 8px 4px 8px -2px rgba(0, 0, 0, 0.4), -8px 4px 8px -2px rgba(0, 0, 0, 0.4);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.submit-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #3b82f6;
    border: none;
    border-radius: 8px;
    width: 130px;
    height: 45px;
    transition: .3s;
    font-size: 20px;
}
.submit-button:hover {
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
.container {
    display: grid;
}
.bookdisplaycontainer {
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-template-rows: repeat(2, 150px);
    gap: 50px;
}
.heading {
    font-size: 20px;
}
.text {
    font-size: 20px;
    font-family: sans-serif;
    padding: 10%;
}